In [1]:
import pandas

In [2]:
data = pandas.read_csv(r"D:\Programming\Python\mlc\Coursera\Week1\titanic.csv", index_col = 'PassengerId')

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 891 entries, 1 to 891
Data columns (total 11 columns):
Survived    891 non-null int64
Pclass      891 non-null int64
Name        891 non-null object
Sex         891 non-null object
Age         714 non-null float64
SibSp       891 non-null int64
Parch       891 non-null int64
Ticket      891 non-null object
Fare        891 non-null float64
Cabin       204 non-null object
Embarked    889 non-null object
dtypes: float64(2), int64(4), object(5)
memory usage: 83.5+ KB

In [36]:
data['Sex'].value_counts()

male      577
female    314
Name: Sex, dtype: int64

In [46]:
num_surv = data['Survived'].value_counts()
print(num_surv)
print(num_surv[1]/data.shape[0] * 100)

0    549
1    342
Name: Survived, dtype: int64
38.3838383838

In [60]:
data['Pclass'].value_counts()[1] / data.shape[0] * 100

24.242424242424242

In [30]:
age_mean = data["Age"].mean(axis=0)
print(age_mean)
age_median = data["Age"].median(axis=0)
print(age_median)

29.69911764705882
28.0

In [32]:
corr = data['SibSp'].corr(data['Parch'])
print(5, "{:0.2f}".format(corr))

5 0.41

In [35]:
name = data['Name'].value_counts()
print(name)

Nye, Mrs. (Elizabeth Ramell)                          1
Crosby, Miss. Harriet R                               1
Milling, Mr. Jacob Christian                          1
Jensen, Mr. Niels Peder                               1
Maioni, Miss. Roberta                                 1
Thayer, Mr. John Borland Jr                           1
Attalah, Miss. Malake                                 1
Braund, Mr. Lewis Richard                             1
Pekoniemi, Mr. Edvard                                 1
Landergren, Miss. Aurora Adelia                       1
Danbom, Mr. Ernst Gilbert                             1
Woolner, Mr. Hugh                                     1
Lindqvist, Mr. Eino William                           1
Rouse, Mr. Richard Henry                              1
Nicholson, Mr. Arthur Ernest                          1
West, Mr. Edwy Arthur                                 1
Frost, Mr. Anthony Wood "Archie"                      1
Smith, Mr. Thomas                                     1
Jussila, Miss. Katriina                               1
Calderhead, Mr. Edward Pennington                     1
Salonen, Mr. Johan Werner                             1
Johnson, Mr. Alfred                                   1
Icard, Miss. Amelie                                   1
Flynn, Mr. James                                      1
van Billiard, Mr. Austin Blyler                       1
Simonius-Blumer, Col. Oberst Alfons                   1
Johnson, Mr. Malkolm Joackim                          1
Beane, Mrs. Edward (Ethel Clarke)                     1
Asplund, Master. Clarence Gustaf Hugo                 1
Mitkoff, Mr. Mito                                     1
                                                     ..
Chapman, Mr. John Henry                               1
Vande Walle, Mr. Nestor Cyriel                        1
Healy, Miss. Hanora "Nora"                            1
Van Impe, Mr. Jean Baptiste                           1
Coutts, Master. William Loch "William"                1
Alexander, Mr. William                                1
Jensen, Mr. Svend Lauritz                             1
Webber, Miss. Susan                                   1
Ayoub, Miss. Banoura                                  1
Abelson, Mrs. Samuel (Hannah Wizosky)                 1
de Mulder, Mr. Theodore                               1
Zimmerman, Mr. Leo                                    1
Hamalainen, Mrs. William (Anna)                       1
Johnson, Mr. William Cahoone Jr                       1
Boulos, Mrs. Joseph (Sultana)                         1
Olsen, Mr. Karl Siegwart Andreas                      1
Hart, Mrs. Benjamin (Esther Ada Bloomfield)           1
Sivola, Mr. Antti Wilhelm                             1
Seward, Mr. Frederic Kimber                           1
Lefebre, Miss. Mathilde                               1
Kink, Mr. Vincenz                                     1
Stephenson, Mrs. Walter Bertram (Martha Eustis)       1
Lindell, Mr. Edvard Bengtsson                         1
Downton, Mr. William James                            1
Sage, Master. Thomas Henry                            1
West, Mrs. Edwy Arthur (Ada Mary Worth)               1
Panula, Master. Urho Abraham                          1
Lindblom, Miss. Augusta Charlotta                     1
Moran, Miss. Bertha                                   1
Hays, Mrs. Charles Melville (Clara Jennings Gregg)    1
Name: Name, Length: 891, dtype: int64