In [1]:
import pandas

In [2]:
data = pandas.read_csv(r"D:\Programming\Python\mlc\Coursera\Week1\titanic.csv", index_col = 'PassengerId')

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 891 entries, 1 to 891
Data columns (total 11 columns):
Survived    891 non-null int64
Pclass      891 non-null int64
Name        891 non-null object
Sex         891 non-null object
Age         714 non-null float64
SibSp       891 non-null int64
Parch       891 non-null int64
Ticket      891 non-null object
Fare        891 non-null float64
Cabin       204 non-null object
Embarked    889 non-null object
dtypes: float64(2), int64(4), object(5)
memory usage: 83.5+ KB

1) Какое количество мужчин и женщин ехало на корабле? В качестве ответа приведите два числа через пробел

In [4]:
data['Sex'].value_counts()

male      577
female    314
Name: Sex, dtype: int64

2) Какой части пассажиров удалось выжить? Посчитайте долю выживших пассажиров. Ответ приведите в процентах (число в интервале от 0 до 100, знак процента не нужен), округлив до двух знаков.

In [8]:
data['Survived'].value_counts()[1] / data.shape[0] * 100

38.383838383838381

3) Какую долю пассажиры первого класса составляли среди всех пассажиров? Ответ приведите в процентах (число в интервале от 0 до 100, знак процента не нужен), округлив до двух знаков.

In [9]:
data['Pclass'].value_counts()[1]/data.shape[0] * 100

24.242424242424242

4) Какого возраста были пассажиры? Посчитайте среднее и медиану возраста пассажиров. В качестве ответа приведите два числа через пробел.

In [15]:
print(str(data['Age'].mean()) + "- среднее")
print(str(data['Age'].median()) + " - медиана")

29.69911764705882- среднее
28.0 - медиана

5) Коррелируют ли число братьев/сестер с числом родителей/детей?Посчитайте корреляцию Пирсона между признаками SibSp и Parch.

In [16]:
data['SibSp'].corr(data['Parch'])

0.41483769862015668

6) Какое самое популярное женское имя на корабле? Извлеките из полного имени пассажира (колонка Name) его личное имя (First Name). Это задание — типичный пример того, с чем сталкивается специалист по анализу данных. Данные очень разнородные и шумные, но из них требуется извлечь необходимую информацию. Попробуйте вручную разобрать несколько значений столбца Name и выработать правило для извлечения имен, а также разделения их на женские и мужские.

In [23]:
data[data['Sex'] == 'female']['Name'].apply(lambda fullname: fullname.split(',')[1].split()[1]).value_counts()

William      13
Mary          9
Anna          9
John          6
Margaret      6
Thomas        6
Elizabeth     6
Alice         5
Frederick     5
Helen         4
Ellen         4
Edward        4
Bertha        4
James         4
Henry         3
Augusta       3
Samuel        3
Joseph        3
Kate          3
Charles       3
Hanora        3
Annie         3
Katherine     3
George        2
Marija        2
Madeleine     2
Mabel         2
Marjorie      2
Elsie         2
Lillian       2
             ..
Anders        1
Helene        1
Laura         1
Mara          1
Gladys        1
Stina         1
Stella        1
Eleanor       1
Harriet       1
Solomon       1
Gretchen      1
Lyyli         1
Emma          1
Velin         1
Martin        1
Berthe        1
Nora          1
Countess.     1
Sinai         1
Erna          1
Hildur        1
Georgette     1
Elisabeth     1
Anne          1
Emil          1
Helmina       1
Frederic      1
Hedwig        1
Sam           1
Victor        1
Name: Name, Length: 203, dtype: int64